.top {
  margin: 10px 0 30px 0;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 20px;
}

.filter-form {
  margin-bottom: 20px;
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}

.search-wrapper {
  width: 100%;
  max-width: 400px;
}

.artist-filter-wrapper {
  width: 100%;
  max-width: 300px;
}

.artworks-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
  gap: 25px;
}
